<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlogs</title>

    <script src="https://kit.fontawesome.com/b680263a54.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    
    <header class="main">
        <nav class="container">
            <a href="/">
                <span class="logo">
                    Myblog
                </span>
            </a>
            <ul>
                <li>
                   <a href="/"> Home </a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
      
        <section class="container">

    
    
